@model Budget.Models.ViewModels.HouseholdCreationViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create A New Household</h2>
@if (Model.UserAlreadyInHousehold && Model.UserIsLastHouseholdMember) {
    <h3>
        You are already a member of another household and are the last remaining member.<br />
        <span style="color:red;">Creating a new household will remove you from that household and close it permanently.</span>
    </h3>
}
else {
    if (Model.UserAlreadyInHousehold) {
        <h3>You are already a member of a household. Creating a new household will remove you from that household.</h3>
    }
}


@using (Html.BeginForm("Create", "Households", FormMethod.Post)) {
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Household.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Household.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Household.Name, "", new { @class = "text-danger" })
                @if (ViewBag.ErrorMessage != null) { <span style="color:red;">@ViewBag.ErrorMessage</span>}
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Household.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Household.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Household.Description, "", new { @class = "text-danger" })
            </div>
        </div>
       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
