@model Budget.Models.BudgetPlan

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Budget</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.HouseholdId)
        @Html.HiddenFor(model => model.OwnerId)
        @Html.HiddenFor(model => model.IsActive)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AmountBudgeted, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AmountBudgeted, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AmountBudgeted, "", new { @class = "text-danger" })
            </div>
        </div>


        @*<div class="form-group">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsActive)
                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryId, "Category", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-1">
                <!--Add a button here called "Add New Category", to open a Modal here with Input for the new Category name-->
            </div>
            <div class="col-md-5"></div>
        </div>
        <hr />
        <!-- Add Existing Budget Line Items to the Budget Plan-->
        @*<div class="form-group" id="BudgetItems0"><!-- This item will not be passed through the Model to the Edit action because it's actions are handled through AJAX -->
            @Html.LabelFor(model => model.BudgetItems, "Budget Line Item", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("BudgetItems", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-1">
                <button class="btn btn-sucess">Add</button><!-- AJAX GOES HERE -->
            </div>
            <div class="col-md-5"></div>
        </div>*@

        <!-- Add New, Non-Existing Budget Line Items to the Budget Plan and Household, in general -->
        @*<div class="form-group"><!-- This section has a button to add a brand new BudgetItem -->
            <div class="col-md-2"><!-- For Indention Purposes --></div>
            <div class="col-md-4"><button class="btn btn-info">Create New Budget Line Item</button><!-- POP UP MODAL - AJAX GOES HERE --></div>
            <div class="col-md-6"><!-- For Indention Purposes --></div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
