@model Budget.Models.ViewModels.InvitationsIndexViewModel
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div id="accounts" class="page-layout simple tabbed">
    <!-- HEADER -->
    <div class="page-header bg-secondary text-auto row no-gutters align-items-center justify-content-between p-6">
        <div class="row no-gutters align-items-center">
            <div class="product-image mr-4">
                <img class="img-10vh" src="~/Content/Images/Icons/plus.png">
            </div>
            <div>Pending Invitations</div>
        </div>
        @Html.ActionLink("Invite New Member", "Create", "Invitations", null, new { @class = "btn btn-success" })
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <div class="page-content">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link btn active" id="basic-info-tab" data-toggle="tab" href="#myInvitations"
                   role="tab" aria-controls="basic-info-tab-pane" aria-expanded="true">My Invitations</a>
            </li>
            @if (Model.UserIsInHousehold) {
                <li class="nav-item">
                    <a class="nav-link btn" id="pricing-tab" data-toggle="tab" href="#hhInvitations"
                       role="tab" aria-controls="pricing-tab-pane">Household Invitations</a>
                </li>
            }
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="myInvitations" role="tabpanel" aria-labelledby="basic-info-tab">
                <table id="myInvitations-table" class="table dataTable">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Invitations.First(i => i.Id > 0).Household.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.Invitations.First(i => i.Id > 0).Inviter.FirstName)</th>
                            <th>@Html.DisplayNameFor(model => model.Invitations.First(i => i.Id > 0).Created)</th>
                            <th>@Html.DisplayNameFor(model => model.Invitations.First(i => i.Id > 0).InvitationMessage)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Invitations.Where(i => i.InviteeEmail == User.Identity.GetUserName())) {
                            <tr>
                                <td><a href="/Invitations/Details/@item.Id">@Html.DisplayFor(modelItem => item.Household.Name)</a></td>
                                <td>@Html.DisplayFor(modelItem => item.Inviter.FirstName)</td>
                                <td>@Html.DisplayFor(modelItem => item.Created)</td>
                                <td>@Html.DisplayFor(modelItem => item.InvitationMessage)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (Model.UserIsInHousehold) {
            <div class="tab-pane fade" id="hhInvitations" role="tabpanel" aria-labelledby="pricing-tab">
                <table id="hhInvitations-table" class="table dataTable">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Invitations.First(i => i.Id > 0).InviteeEmail)</th>
                        <th>@Html.DisplayNameFor(model => model.Invitations.First(i => i.Id > 0).Inviter.FirstName)</th>
                        <th>@Html.DisplayNameFor(model => model.Invitations.First(i => i.Id > 0).Created)</th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model.Invitations.Where(i => i.InviteeEmail != User.Identity.GetUserName())) {
                        <tr>
                            <td><a href="/Invitations/Details/@item.Id">@Html.DisplayFor(modelItem => item.InviteeEmail)</a></td>
                            <td>@Html.DisplayFor(modelItem => item.Inviter.FirstName)</td>
                            <td>@Html.DisplayFor(modelItem => item.Created)</td>
                            <td>
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </table>
            </div>
            }
        </div>
    </div>
    <!-- / CONTENT -->
    @section scripts{
        <script type="text/javascript" src="~/Content/Template/Fuze/js/apps/dashboard/project.js"></script>
        <script src="~/Content/Template/Fuze/vendor/datatables.net/js/jquery.dataTables.js"></script>
        <script>$("#myInvitations-table").DataTable({ "order": [[3, 'desc']] });</script>
        <script>$("#hhInvitations-table").DataTable({ "order": [[3, 'desc']] });</script>
    }
</div>

