@model Budget.Models.Transaction

    <style>
        .form-group {
            padding-top: 1px !important;
        }
    </style>
@using (Html.BeginForm("ReconcileTransactionReceiver", "Transactions", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Amount)

    <h3>The Recorded Amount for @Model.Title is @Model.Amount .</h3>
    <br />

    <div class="form-group row">
        @Html.LabelFor(model => model.ReconciledIncorrectAmount, "Enter the Correct Amount here:", htmlAttributes: new { @class = "control-label col-md-4 text-right" })
        <div class="col-md-8 col-md-offset-2">
            <input type="number"  step="0.01" min="0" id="ReconciledIncorrectAmount" name="ReconciledIncorrectAmount" value="" class="form-control" />
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.ReconciliationExplanation, "Enter an Explanation here:", htmlAttributes: new { @class = "control-label col-md-4 text-right" })
        <div class="col-md-8 col-md-offset-2">
            <input type="text" id="ReconciliationExplanation" name="ReconciliationExplanation" value="" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="genTx"type="submit" value="Reconcile Transaction" class="btn btn-default" />
        </div>
    </div>

}