@model Budget.Models.ForgotPasswordViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/Images/Icons/favicon.png">
    <title>Register</title>
    <!-- STYLESHEETS -->
    <style type="text/css">
        [fuse-cloak],
        .fuse-cloak {
            display: none !important;
        }
    </style>
    <!-- Icons.css -->
    <link type="text/css" rel="stylesheet" href="~/Content/Template/Fuze/icons/fuse-icon-font/style.css">
    <!-- Animate.css -->
    <link type="text/css" rel="stylesheet" href="~/Content/Template/Fuze/vendor/animate.css/animate.min.css">
    <!-- PNotify -->
    <link type="text/css" rel="stylesheet" href="~/Content/Template/Fuze/vendor/pnotify/pnotify.custom.min.css">
    <!-- Nvd3 - D3 Charts -->
    <link type="text/css" rel="stylesheet" href="~/Content/Template/Fuze/vendor/nvd3/build/nv.d3.min.css" />
    <!-- Perfect Scrollbar -->
    <link type="text/css" rel="stylesheet" href="~/Content/Template/Fuze/vendor/perfect-scrollbar/css/perfect-scrollbar.min.css" />
    <!-- Fuse Html -->
    <link type="text/css" rel="stylesheet" href="~/Content/Template/Fuze/vendor/fuse-html/fuse-html.min.css" />
    <!-- Main CSS -->
    <link type="text/css" rel="stylesheet" href="~/Content/Template/Fuze/css/main.css">
    <!-- / STYLESHEETS -->
</head>


<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>

        @*<div class="login-box">
            <div class="white-box">
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal form-material", id = "loginform", role = "form" })) {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <h3 class="box-title m-b-20">Recover Password</h3>
                    <div class="form-group">
                        <div class="col-xs-12">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Reset</button>
                        </div>
                    </div>
                }
            </div>
        </div>*@
        <div id="forgot-password" class="p-8">
            <div class="form-wrapper md-elevation-8 p-8">
                <div class="">
                    <span><img src="~/Content/Images/Icons/tools.png" /></span>
                </div>
                <div class="title mt-4 mb-8">Recover your password</div>
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal form-material", id = "loginform", role = "form" })) {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group mb-4">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        <label for="forgotPasswordFormInputEmail">Email address</label>
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <button type="submit" class="submit-button btn btn-block btn-secondary mt-8 mb-4 mx-auto"
                            aria-label="SEND RESET LINK">
                        SEND RESET LINK
                    </button>
                }
                <div class="login row align-items-center justify-content-center mt-8 mb-6 mx-auto">
                    <a class="link text-secondary" href="/Account/Login">Go back to login</a>
                </div>
            </div>
        </div>
</body>
</html>