@model IEnumerable<Budget.Models.Notification>

@{
ViewBag.Title = "Index";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Account.Name)</th>
        <th>@Html.DisplayNameFor(model => model.BudgetPlan.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Category.Category)</th>
        <th>@Html.DisplayNameFor(model => model.Expense.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Household.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Income.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Owner.FirstName)</th>
        <th>@Html.DisplayNameFor(model => model.Transaction.Title)</th>
        <th>@Html.DisplayNameFor(model => model.Title)</th>
        <th>@Html.DisplayNameFor(model => model.Description)</th>
        <th>@Html.DisplayNameFor(model => model.Created)</th>
        <th>@Html.DisplayNameFor(model => model.OriginalDeliveryDate)</th>
        <th>@Html.DisplayNameFor(model => model.CurrentDeliveryDate)</th>
        <th>@Html.DisplayNameFor(model => model.DateAcknowledged)</th>
        <th>@Html.DisplayNameFor(model => model.IsAcknowledged)</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
<td>@Html.DisplayFor(modelItem => item.Account.Name)</td>
<td>@Html.DisplayFor(modelItem => item.BudgetPlan.Name)</td>
<td>
@Html.DisplayFor(modelItem => item.Category.Category)
</td>
<td>
@Html.DisplayFor(modelItem => item.Expense.Name)
</td>
<td>
@Html.DisplayFor(modelItem => item.Household.Name)
</td>
<td>
@Html.DisplayFor(modelItem => item.Income.Name)
</td>
<td>
@Html.DisplayFor(modelItem => item.Owner.FirstName)
</td>
<td>
@Html.DisplayFor(modelItem => item.Transaction.Title)
</td>
<td>
@Html.DisplayFor(modelItem => item.Title)
</td>
<td>
@Html.DisplayFor(modelItem => item.Description)
</td>
<td>
@Html.DisplayFor(modelItem => item.Created)
</td>
<td>
@Html.DisplayFor(modelItem => item.OriginalDeliveryDate)
</td>
<td>
@Html.DisplayFor(modelItem => item.CurrentDeliveryDate)
</td>
<td>
@Html.DisplayFor(modelItem => item.DateAcknowledged)
</td>
<td>
@Html.DisplayFor(modelItem => item.IsAcknowledged)
</td>
<td>
@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
@Html.ActionLink("Details", "Details", new { id=item.Id }) |
@Html.ActionLink("Delete", "Delete", new { id=item.Id })
</td>
</tr>
}

</table>
